@mixin header-container {
  text-align: center;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.671);
  margin-top: 30px;
  margin-bottom: 30px;
}

@mixin input-container-mixin {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0px 10px;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}


