@import '../../assets/css/CommonStyle.scss';
// code for removing extra space around corner
html, body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
// end

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-paper {
    width: 30%;
    .header-container {
        @include header-container;
    }
    .input-container {
        @include input-container-mixin;
        .input {
            margin-bottom: 30px;
        }
    }
    .action-container {
        @include flex-center;
        // margin-bottom: 30px;
        .login-button {
            margin: 0 10px 20px 10px;
        }
    }
    .option-container {
        display: flex;
        justify-content: space-around;
        margin: 0 0px 30px 0px;

    }
}